@page
@model Alfasoft.Pages.DetailsModel
@{
    ViewData["Title"] = "Contact Details";
}
<div class="container justify-content-center col-6">
    <div class="card">
        <div class="card-header text-center">
            <nav class="navbar bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand text-black">Contact Details</a>
                    <div class="d-flex" role="search">
                        <a style="border-radius: 15px" asp-page="Edit" asp-route-id="@Model.ContactsModel.Id" class="btn btn-outline-warning btn-sm me-2">Edit</a>
                            <a asp-page="Details" asp-page-handler="Delete" asp-route-id="@Model.ContactsModel.Id" style="border-radius: 15px" class="btn btn-outline-danger btn-sm">Delete</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col px-3 mb-2">
            <div class="mb-2 mt-2">
                <label for="name" class="small">Name</label>
                <input id="name" class="form-control" type="text" value="@Model.ContactsModel.Name" readonly>
            </div>
            <div class="mb-2">
                <label for="contact" class="small">Contact</label>
                <input id="contact" class="form-control" type="text" value="@Model.ContactsModel.Contact" readonly>
            </div>
            <div class="mb-2">
                <label for="email" class="small">E-mail</label>
                <input id="email" class="form-control" type="email" value="@Model.ContactsModel.Email" readonly>
            </div>
        </div>
    </div>
</div>