@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}
<div class="container justify-content-center col-6">
    @{
        if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @Model.Message
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    }
    <div class="card">
        @if (Model.Contacts != null)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>NAMES</th>
                        <th class="text-end">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Contacts)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td class="text-end">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <a style="border-radius: 15px" asp-page="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Details</a>
                                    <a style="border-radius: 15px" asp-page="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Edit</a>
                                    <form method="post">
                                        <button asp-page-handler="Delete" asp-route-id="@item.Id" style="border-radius: 15px" type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>No contacts to list...</h4>
        }
    </div>
</div>
